/* --- Start Select Paper ---*/
header{
    height: 30px;
}

div[data-testid="stModal"] div[tabindex="-1"]{
    width: 90%;
    margin-top: -5px;
    overflow: scroll;
}

div[data-testid="column"]{
    overflow: hidden;
}

div[class="block-container st-emotion-cache-1jicfl2 ea3mdgi5"]{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    overflow: hidden;
}

div[class="st-emotion-cache-1wmy9hl e1f1d6gn1"] [id="selected_doc"]{
    flex-direction: row;

}


div[class="row-widget stButton"]{
    display: flex;
    justify-content: end;
    width: 200px;
}

div[class="row-widget stButton"] button[kind="secondary"]{
    background-color: white;
    height: 20px;
    width: 200px;
    color: black;
}


div[class="row-widget stButton"] button[kind="secondary"]:hover{
    background-color: #FF9554;
    color: white;
    font-weight: bolder;
}

button[kind="primary"] {
    background: none!important;
    border: none;
    padding: 0!important;
    color: black !important;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    margin-bottom: -20px;
}

button[kind="primary"] p{
    font-weight: 600;

    letter-spacing: -0.005em;
    padding: 0.5rem 0px 1rem;
    margin: 0px;
    line-height: 1.2;
    font-size: 100%;
}

button[kind="primary"]:hover {
    text-decoration: none;
    color: #FF9554 !important;
}

button[kind="primary"]:focus {
    outline: none !important;
    box-shadow: none !important;
    color: #FF9554 !important;
}

p[class="additional_info"]{
    color: red;
    font-size: 14px;
}


/* --- !End Select Paper! ---*/


/*Mobile*/
@media (max-width: 768px) {
    /* --- Start Select Paper ---*/

    div[class="block-container st-emotion-cache-1jicfl2 ea3mdgi5"]{
        padding-top: 20px;
        overflow: scroll;
    }

    /* --- !End Select Paper! ---*/
}


