/* --- Start Select Paper ---*/

div[class="st-ai st-az st-b0 st-b1 st-b2 st-b3 st-ax st-b4 st-b5 st-d3 st-b7 st-b8 st-b9 st-ba"]{
    align-items: center;
    padding: 1rem;
}

div[class="st-bb st-bc st-bd st-be st-bf st-bg st-al st-bh st-am st-bi st-bj st-bk st-d3 st-d4 st-bm st-b8 st-b9 st-bn st-bo st-bp st-bq st-br st-bs st-bt st-bu"]{
    width: 100%;
    height: 90vh;
    overflow: scroll;
}

div[data-baseweb="popover"]{
    margin-top: 100px;
}

div[class="st-emotion-cache-abycrm e6zijwc0"]{
    width: 60%;
}

div[class="st-emotion-cache-axnyet e1f1d6gn0"]:hover{
    background-color: #FF9554;
}

/* --- !End Select Paper! ---*/


/*Mobile*/
@media (max-width: 768px) {
    /* --- Start Select Paper ---*/

    div[class="st-emotion-cache-abycrm e6zijwc0"]{
        width: 100%;
    }

    div[class="st-as st-at st-ah st-bc st-d6 st-d8 st-d9 st-d7 st-ek st-el st-ex st-b9 st-d3 st-im st-fd"]{
        margin-top: 125px;
    }

    /* --- !End Select Paper! ---*/
}


